
conda.enabled = true
cb_build_dir = "/scratch/cellbrowser-builds"
params.study_names = ["Velmeshev_et_al.1","Velmeshev_et_al.2"] 
workDir = "/scratch/cellbrowser-builds/work"
params.cb_build_dir = "/scratch/cellbrowser-builds"
params.cb_outdir = "/space/gemmaData/cellBrowser"
params.cbscanpy_config = "$projectDir/meta/scanpy.conf"

//params.cb_config =

process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'slurm'
  clusterOptions = '-C thrd64 --cpus-per-task=10'
}
 executor {
   queueSize = 90 
 }

nextflow {
  clean {
    afterRun = true  // Default is false; set to true to clean up automatically
  }
}

profiles {
  conda {
    conda.enabled = true
  }

}

// params.GEMMA_USERNAME = System.getenv('GEMMA_USERNAME')
// params.GEMMA_PASSWORD = System.getenv('GEMMA_PASSWORD')
// params.gene_mapping = "/space/grp/rschwartz/rschwartz/get_gemma_data.nf/meta/gemma_genes.tsv"
